---
layout: default
title: {{ site.name }}
---
<div class="mdl-grid portfolio-max-width">

  <!-- This loops through the paginated posts -->
  {% for post in paginator.posts %}

  <div class="mdl-cell mdl-card mdl-shadow--4dp portfolio-card">
    <div class="mdl-card__media">
      {% if post.title contains '.' %}
      <img class="article-image" src="{{site.baseurl}}/assets/blog/images/header/{{ post.title | append: 'jpg'}}" border="0" alt="">
      {% else %}
 <img class="article-image" src="{{site.baseurl}}/assets/blog/images/header/default.jpg" border="0" alt="">
      {% endif %}
    </div>
    <div class="mdl-card__title">
      <h2 class="mdl-card__title-text"><a href="{{ site.baseurl }}{{ post.url }}">{{ post.title }}</a></h2>
      <span class="mdl-card__menu" style="float:right;color:white;">{{ post.date | date: "%Y-%m-%d"}}</span>
    </div>
    <div class="mdl-card__supporting-text">
      {{ post.excerpt }}
    </div>
    <div class="mdl-card__actions mdl-card--border">
      <div style="margin-bottom: 8px;">
       {% include category.html %}
       {% include tag.html %}
       </div>
      <a class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect mdl-button--accent"  href="{{ site.baseurl }}{{ post.url }}" style="text-decoration:none;">
        Read More
      </a>

    </div>
  </div>

  {% endfor %}

  <!-- Pagination links -->
  <nav class="mdl-color-text--grey-50 mdl-cell mdl-cell--12-col" style="text-align:center;">
    {% if paginator.previous_page %}
    <a class="mdl-color-text--grey-900" href="{{ paginator.previous_page_path }}" style="float:left;text-decoration:none;">
      <button class="mdl-button mdl-js-button mdl-js-ripple-effect mdl-button--icon mdl-color--white mdl-color-text--grey-900" role="presentation">
        <i class="material-icons">arrow_back</i>
      </button>
      上一页
    </a>
    {% else %}
    <a style="float:left;text-decoration:none;" class="mdl-color-text--grey-500">
      <button class="mdl-button mdl-js-button mdl-js-ripple-effect mdl-button--icon mdl-color--white mdl-color-text--grey-500" role="presentation">
        <i class="material-icons">arrow_back</i>
      </button>
      上一页
    </a>
    {% endif %}

    <div class="section-spacer mdl-color-text--grey-700" style="display:inline;position: relative;top: calc(50% - 9px);">
      当前页: {{ paginator.page }} of {{ paginator.total_pages }}
    </div>

    {% if paginator.next_page %}
    <a  class="mdl-color-text--grey-900" href="{{ paginator.next_page_path }}" style="float:right;text-decoration:none;">
      下一页
      <button class="mdl-button mdl-js-button mdl-js-ripple-effect mdl-button--icon mdl-color--white mdl-color-text--grey-900" role="presentation">
        <i class="material-icons">arrow_forward</i>
      </button>
    </a>
    {% else %}
    <a style="float:right;text-decoration:none;" class="mdl-color-text--grey-500">
      下一页
      <button class="mdl-button mdl-js-button mdl-js-ripple-effect mdl-button--icon mdl-color--white mdl-color-text--grey-500" role="presentation">
        <i class="material-icons">arrow_forward</i>
      </button>
    </a>
    {% endif %}
  </nav>

</div>
