---
layout: default
title: {{ site.name }}
---

<div id="home">
  <h4>Blog Posts</h4>

  <!-- This loops through the paginated posts -->
  {% for post in paginator.posts %}

<div class="demo-card-square mdl-card mdl-shadow--2dp">
  <div class="mdl-card__title mdl-card--expand">
    <h2 class="mdl-card__title-text"><a style="color: #fff;" href="{{ site.baseurl }}{{ post.url }}">{{ post.title }}</a></h2>
    <span class="mdl-card__menu" style="float:right;">{{ post.date | date: "%Y-%m-%d"}}</span>

  </div>
  <div class="mdl-card__supporting-text">
    {{ post.excerpt }}
  </div>
  <div class="mdl-card__actions mdl-card--border">
    <a class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect"  href="{{ site.baseurl }}{{ post.url }}">
      Read More
    </a>
     {% include category.html %}
      {% include tag.html %}
  </div>
</div>


  <div style="width:100%; height:0px; background-color:#F2F2F2;margin:10px auto;padding:0px;overflow:hidden;"></div>

  {% endfor %}



  <!-- Square card -->
<style>
.demo-card-square.mdl-card {
  width: 100%;
  height: auto;
}
.demo-card-square > .mdl-card__title {
  color: #fff;
  background:
    url('') bottom right 15% no-repeat #46B6AC;
}
</style>



  <!-- Pagination links -->
  <div class="pagination">
    {% if paginator.previous_page %}
    <a href="{{ paginator.previous_page_path }}" class="previous">Previous</a>
    {% else %}
    <span class="previous">Previous</span>
    {% endif %}
    <span class="page_number ">Page: {{ paginator.page }} of {{ paginator.total_pages }}</span>
    {% if paginator.next_page %}
    <a href="{{ paginator.next_page_path }}" class="next">Next</a>
    {% else %}
    <span class="next ">Next</span>
    {% endif %}
  </div>
<!--
  <div class="side ">
    <div>
      <i class="fa fa-th-list"></i>
      Categories
    </div>
    <ul class="content-ul" cate>
      {% for category in site.categories %}
      <li>
        <a href="{{ root_url }}/{{ site.category_dir }}#{{ category | first }}" class="categories-list-item" cate="{{ category | first }}">
          <span class="name">
            {{ category | first }}
          </span>
          <span class="badge">{{ category | last | size }}</span>
        </a>
      </li>
      {% endfor %}
    </ul>
  </div>


  <span>Tags</span>
  <div class="tags-cloud">
    {% assign first = site.tags.first %}
    {% assign max = first[1].size %}
    {% assign min = max %}
    {% for tag in site.tags offset:1 %}
    {% if tag[1].size > max %}
    {% assign max = tag[1].size %}
    {% elsif tag[1].size < min %}
                           {% assign min = tag[1].size %}
                           {% endif %}
                           {% endfor %}

                           {% if max == min %}
                           {% assign diff = 1 %}
                           {% else %}
                           {% assign diff = max | minus: min %}
                           {% endif %}

                           {% for tag in site.tags %}
                           {% assign temp = tag[1].size | minus: min | times: 36 | divided_by: diff %}
                           {% assign base = temp | divided_by: 4 %}
                           {% assign remain = temp | modulo: 4 %}
                           {% if remain == 0 %}
                           {% assign size = base | plus: 9 %}
                           {% elsif remain == 1 or remain == 2 %}
                           {% assign size = base | plus: 9 | append: '.5' %}
                           {% else %}
                           {% assign size = base | plus: 10 %}
                           {% endif %}
                           {% if remain == 0 or remain == 1 %}
                           {% assign color = 9 | minus: base %}
                           {% else %}
                           {% assign color = 8 | minus: base %}
                           {% endif %}
                           <a href="{{ root_url }}/{{ site.tag_dir }}#{{ tag[0] }}" style="font-size: {{ size }}pt; color: #{{ color }}{{ color }}{{ color }};">{{ tag[0] }}</a>
                           {% endfor %}
  </div>
 -->


</div>
