{% if post %}
{% for category in post.categories %}
<a href="{{ root_url }}/{{ site.category_dir }}#{{ category | slugify }}" title="Category: {{ category | slugify }}" rel="category" class="post-category">{{ category | join: "/" | slugify }}</a>{% unless forloop.last %}&nbsp;{% endunless %}
{% endfor %}
{% else %}
{% for category in page.categories %}
<a href="{{ root_url }}/{{ site.category_dir }}#{{ category | slugify }}" title="Category: {{ category | slugify }}" rel="category" class="post-category">{{ category | join: "/" | slugify }}</a>{% unless forloop.last %}&nbsp;{% endunless %}
{% endfor %}
{% endif %}
