<!-- site.url和site.baseurl引用的是config配置文件中的配置参数 -->
<head>
    <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Roboto:300,400,500,700" type="text/css">
  <meta charset="UTF-8" content="{{site.content}}">
  <title>{{ page.title | default: site.title }}</title>
  <meta name="description" content="{{ page.description | default: site.description | default: site.github.project_tagline }}"/>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="theme-color" content="#157878">
  <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css" rel="stylesheet" type="text/css">
  <!-- 引入google分析 -->
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,700" rel="stylesheet" type="text/css">
  <link rel="shortcut icon" href="{{ site.baseurl }}/assets/favicon.png" type="image/png">
  <link rel="stylesheet" href="{{ site.baseurl }}/assets/css/main.css" type="text/css">
  <script src="{{ site.baseurl }}/assets/js/pageContent.js" charset="utf-8" type="application/javascript"></script>
  <!-- material design -->
  <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
  <link rel="stylesheet" href="{{ site.baseurl }}/assets/css/material.teal-red.min.css" />
  <link rel="stylesheet" href="{{ site.baseurl }}/assets/css/material.custom.css" />
  <link rel="stylesheet" href="{{ site.baseurl }}/assets/css/syntax.css" />
  <script defer src="{{ site.baseurl }}/assets/js/material.min.js"></script>
</head>
