<section class="page-header">
  <h4 class="project-name">{{ site.title | default: site.github.repository_name }}</h4>
  <h5 class="project-tagline">{{ site.description | default: site.github.project_tagline }}</h5>
  {% if site.url %}
  <a href="{{ site.baseurl }}/" class="btn">Home</a>
  {% endif %}
  {% if site.category_dir %}
  <a href="{{ site.baseurl }}/{{ site.category_dir }}" class="btn">Categories</a>
  {% endif %}
  {% if site.tag_dir %}
  <a href="{{ site.baseurl }}/{{ site.tag_dir }}" class="btn">Tags</a>
  {% endif %}
  {% if site.search_dir %}
  <a href="{{ site.baseurl }}/{{ site.search_dir }}" class="btn">Search</a>
  {% endif %}
  <a href="{{ site.github.repository_url }}" class="btn" target="_blank">View on GitHub</a>
</section>
