<header class="mdl-layout__header mdl-layout__header--waterfall portfolio-header">
  <div class="mdl-layout__header-row portfolio-logo-row">
    <span class="mdl-layout__title">
      <div class="portfolio-logo"></div>
      <span class="mdl-layout__title">{{ site.description }}</span>
    </span>
  </div>
  <div class="mdl-layout__header-row portfolio-navigation-row mdl-layout--large-screen-only">
    <nav class="mdl-navigation mdl-typography--body-1-force-preferred-font">
      {% if site.url %}
      <a id="blog" class="mdl-navigation__link is-active" href="{{ site.baseurl }}/">Blog</a>
      {% endif %}
      {% if site.category_dir %}
      <a id="categories" class="mdl-navigation__link" href="{{ site.baseurl }}/{{ site.category_dir }}">Categories</a>
      {% endif %}
      {% if site.tag_dir %}
      <a id="tags" class="mdl-navigation__link" href="{{ site.baseurl }}/{{ site.tag_dir }}">Tags</a>
      {% endif %}
      {% if site.search_dir %}
      <a id="search" class="mdl-navigation__link" href="{{ site.baseurl }}/{{ site.search_dir }}">Search</a>
      {% endif %}
      <a id="github" class="mdl-navigation__link" href="{{ site.github.repository_url }}" target="_blank">View on GitHub</a>
    </nav>
  </div>
</header>
<div class="mdl-layout__drawer mdl-layout--small-screen-only">
  <nav class="mdl-navigation mdl-typography--body-1-force-preferred-font">
    {% if site.url %}
    <a id="s_blog" class="mdl-navigation__link is-active" style="text-decoration:none;" href="{{ site.baseurl }}/">Blog</a>
    {% endif %}
    {% if site.category_dir %}
    <a id="s_categories" class="mdl-navigation__link" style="text-decoration:none;" href="{{ site.baseurl }}/{{ site.category_dir }}">Categories</a>
    {% endif %}
    {% if site.tag_dir %}
    <a id="s_tags" class="mdl-navigation__link" style="text-decoration:none;" href="{{ site.baseurl }}/{{ site.tag_dir }}">Tags</a>
    {% endif %}
    {% if site.search_dir %}
    <a id="s_search" class="mdl-navigation__link" style="text-decoration:none;" href="{{ site.baseurl }}/{{ site.search_dir }}">Search</a>
    {% endif %}
    <a id="s_github" class="mdl-navigation__link" style="text-decoration:none;" href="{{ site.github.repository_url }}" target="_blank">View on GitHub</a>
  </nav>
</div>
