<div class="mdl-card__supporting-text" style="width:100%;">
  {% assign first = site.tags.first %}
  {% assign max = first[1].size %}
  {% assign min = max %}
  {% for tag in site.tags offset:1 %}
  {% if tag[1].size > max %}
  {% assign max = tag[1].size %}
  {% elsif tag[1].size < min %}
                         {% assign min = tag[1].size %}
                         {% endif %}
                         {% endfor %}

                         {% if max == min %}
                         {% assign diff = 1 %}
                         {% else %}
                         {% assign diff = max | minus: min %}
                         {% endif %}

                         {% for tag in site.tags %}
                         {% assign temp = tag[1].size | minus: min | times: 36 | divided_by: diff %}
                         {% assign base = temp | divided_by: 4 %}
                         {% assign remain = temp | modulo: 4 %}
                         {% if remain == 0 %}
                         {% assign size = base | plus: 15 %}
                         {% elsif remain == 1 or remain == 2 %}
                         {% assign size = base | plus: 15 | append: '.5' %}
                         {% else %}
                         {% assign size = base | plus: 16 %}
                         {% endif %}
                         {% if remain == 0 or remain == 1 %}
                         {% assign color = 9 | minus: base %}
                         {% else %}
                         {% assign color = 8 | minus: base %}

                         {% endif %}

                         <!-- 参考：https://www.131-studio.com/blogs/shopify-conversion/generate-random-numbers-using-liquid-shopify    因为是静态页面，所以这个随机数在生成页面后就不会再变更了 -->

                         {% assign min = 0 %}
                         {% assign max = 255 %}
                         {% assign diff = max | minus: min %}
                         {% assign colorR = "now" | date: "%N" | modulo: diff | plus: min %}
                         {% assign colorG = "now" | date: "%N" | modulo: diff | plus: min %}
                         {% assign colorB = "now" | date: "%N" | modulo: diff | plus: min %}

<div style="margin:.5rem; width:auto; float:left;">
                           <a href="{{ site.url }}/{{ site.tag_dir }}#{{ tag[0] }}" style="font-size: {{ size }}pt; color: rgb({{ colorR }},{{ colorG }},{{ colorB }}); " onMouseOver="this.style.fontSize='150%'; this.style.textDecoration='none';this.style.color='rgb({% cycle '12','22','72' %},{% cycle '11','23','74' %},{% cycle '95','177','45' %})';" onMouseOut="this.style.color='rgb({{ colorR }},{{ colorG }},{{ colorB }})'; this.style.fontSize='{{ size }}pt'">{{ tag[0] }}
                           </a>
</div>
                         {% endfor %}
</div>
