---
layout: default
title: Tags
permalink: /tag/
icon: tags
type: page
---

<div class="page clearfix">
  <div class="left">
    <h4>{{page.title}}</h4>
    {% include tag-random.html %}
    <!--
    {% for tag in site.tags %}
    <a href="#{{ tag[0] | slugify }}" class="post-tag">{{ tag[0] }}</a>
    {% endfor %}
    -->
    <hr>
    {% capture tags %}
    {% for tag in site.tags %}
    {{ tag[0] }}
    {% endfor %}
    {% endcapture %}
    {% assign sortedtags = tags | split:' ' | sort %}

    <ul>
      {% for tag in sortedtags %}
      <h5 id="{{ tag | slugify }}">{{ tag }}</h5>
      {% for post in site.tags[tag] %}
      <li>
        <time>
          {{ post.date | date: "%Y-%m-%d" }}.
        </time>
        <a class="title" href="{{ post.url }}">{{ post.title }}</a>

        {% include category.html %}
        {% include tag.html %}
      </li>
      {% endfor %}
      {% endfor %}
    </ul>

  </div>
</div>
